#sidebar-menu.main_menu_side.hidden-print.main_menu
    .menu_section
        //h3 title
        ul.nav.side-menu
            li(style="width:170px"): a(href="booklist")
                i.fa.fa-file-text-o
                | 書本管理
            li(style="width:170px"): a(href="videolist")
                i.fa.fa-file-video-o
                | 影音檔管理
            //li(style="width:170px"): a(href="member")
            //    i.fa.fa-user
            //    | 會員管理
            //li(style="width:170px"): a(href="phonelist")
            //    i.fa.fa-suitcase
            //    | 名單管理
            //li(style="width:170px"): a(href="salesreport")
            //    i.fa.fa-newspaper-o
            //    | 回報記錄管理
            //li(style="width:170px"): a(href="abnormalreport")
            //    i.fa.fa-file-text-o
            //    | 報表
            //li(style="width:170px"): a(href="income")
            //    i.fa.fa-money
            //    | 帳務管理
            //li(style="width:170px"): a(href="callrecord")
            //    i.fa.fa-phone-square
            //    | 來電紀錄
            //li(style="width:170px"): a(href="performance")
            //    i.fa.fa-area-chart
            //    | 業務員績效
            //li(style="width:170px"): a(href="setting")
            //    i.fa.fa-gear
            //    | 系統設定
            li(style="width:170px"): a(href="resetpassword")
                i.fa.fa-key
                | 管理員設定
            li: a(href="login")
                i.fa.fa-power-off
                | 登出