mixin import-script (currentPage, ...elseScript)
    //General script, all page need it.
    include ../parts/script/default-script
    //Add script, some page select it.
    each script in elseScript
        case script
            when "datatable"
                include ../parts/script/datatable-script
            when "progressbar"
                //Progressbar
                script(src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")
            when "wizard"
                //Smart Wizard
                script(src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js")
            when "bootstrap-daterangepicker"
                include ../parts/script/bootstrap-daterangepicker
            when "bootstrap-datepicker"
                script(src="../vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
                script(src="../vendors/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-TW.js")
            when "Dropzone"
                include ../parts/script/Dropzone-script
            when "iCheck"
                //iCheck
                script(src="../vendors/iCheck/icheck.min.js")
            when "morris"
                include ../parts/script/morris-script
            when "easypiechart"
                //easypiechart
                script(src="../vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js")
            when "switchery"
                //switchery
                script(src="../vendors/switchery/dist/switchery.min.js")
            when "cropper"
                //cropper
                script(src="../vendors/cropper/dist/cropper.min.js")
            when "aws"
                script(src="https://sdk.amazonaws.com/js/aws-sdk-2.2.40.min.js")
            when "xlsx"
                script(src="../vendors/js-xlsx/dist/xlsx.full.min.js")
            when "summernote"
                script(src='dist/summernote.js')
                script(src='dist/lang/summernote-zh-TW.js')
                script(src="https://sdk.amazonaws.com/js/aws-sdk-2.2.40.min.js")
    //General script, all page need it.
    include ../parts/script/common-script
    //Current page script, only be set in current page.
    case currentPage
        when "login"
            script(src="adminjs/login.js")
        when "qrcode"
            script(src="adminjs/qrcode.js")
        when "booklist"
            script(src="adminjs/booklist.js")
        when "videolist"
            script(src="adminjs/videolist.js")
        when "videocontent"
            script(src="adminjs/videocontent.js")
        when "videocontentlist"
            script(src="adminjs/videocontentlist.js")
        when "resetpassword"
            script(src="adminjs/resetpassword.js")
