include mixin/mixin
doctype html
html(leng="en")
    head
        include shared/header
            +importCss()
    body
        .container-body.login-bg
            .login-block
                .login-logo
                h1.login-title QRCODE-影音 管理
                .login-input-block
                    input.form-control.login-input#inputAct(type="text" placeholder="帳號")
                .login-input-block
                    input.form-control.login-input#inputPwd(type="password" placeholder="密碼")
                .login-btn-block
                    button.form-control.btn.btn-warning 登入
        +import-script("login")
        include parts/model/main-dialog
script(src="adminjs/login.js")
script(src="adminjs/main.js")