include mixin/mixin
doctype html
html(leng="en")
    head
        include shared/header
        +importCss("datatable")
    body.nav-md
        .container.body.container-body
            .main_container
                include parts/navbar-left
                include parts/page-content/phonelistreport
        +import-script("phonelistreport", "datatable")
        include parts/model/main-dialog