include mixin/mixin
doctype html
html(leng="en")
    head
        include shared/header
    body.nav-md
        .container.body.container-body
            .main_container(style="text-align:center")
                .row
                    button#btnScan.btn.btn-success.btn-lg(style="height:80px;width:60%;margin-top:5%;font-size:30px;font-weight:bold") 掃描QRCODE
                .row
                    h3.title-page(style="color:#2A3F54;font-size:40px;font-weight:bold;display: inline-block;") 英語一
                    br
                    h4.title-page(style="color:#2A3F54;font-size:30px;font-weight:bold;display: inline-block;") 簡介一
                .row
                    #divMedia.preview-container
                        //video#mediaPreview(playsinline='', autoplay='', controls='', muted='', loop='',style="width: 100%;")
                        //    source#mediaSource(src='BigBuckBunny.mp4', type='video/mp4')
                            //    | Your browser does not support the video tag.



        +import-script("qrcode")
