include mixin/mixin
doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='format-detection', content='telephone=no')

        title 請掃描你的QRCODE
    body.cont
        h3.txt-cntr.mar-top-2 請掃描你的QRCODE
        .preview-container
            video#webcameraPreview(playsinline='', autoplay='', controls='', muted='', loop='',style="width:100%")
        article.pad-2
            section(style="display:none")
                .frm-grp.txt-cntr
                    label.disp-blck Choose camera:
                    select#webcameraChanger.frm-ctrl.mar-btm-2(onchange='cameraChange($(this).val());')
                // webcamera view component

        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(type='text/javascript', src='../vendors/instascan/external/adapter.min.js')
        script(type='text/javascript', src='../vendors/instascan/external/instascan.js')
        script(type='text/javascript', src='adminjs/qrscan.js')
        script(type='text/javascript').
            //HTML video component for web camera
            var videoComponent = $("#webcameraPreview");
            //HTML select component for cameras change
            var webcameraChanger = $("#webcameraChanger");
            var options = {};
            //init options for scanner
            options = initVideoObjectOptions("webcameraPreview");
            var cameraId = 0;
            initScanner(options);
            initAvaliableCameras(
                webcameraChanger,
                function () {
                    cameraId = parseInt(getSelectedCamera(webcameraChanger));
                }
            );
            initCamera(cameraId);
            scanStart(function (data) {
                var expression = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?/gi;
                var regex = new RegExp(expression);
                if (data.match(regex)){
                    window.location.href=data;
                }
                else
                    alert(data);
            });
