include mixin/mixin
doctype html
html(leng="en")
    head
        include shared/header
        +importCss("datatable")
    body.nav-md
        .container.body.container-body
            .main_container
                include parts/navbar-left
                include parts/page-content/resetpassword
                include parts/model/main-dialog
                    +import-script("resetpassword", "datatable")
    include parts/model/main-dialog
