html
    head
        title Instascan TEST
        //link(rel='icon', type='image/png', href='favicon.png')
        link(href="css/style.css" rel="stylesheet")
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js')
        script(type='text/javascript', src='https://rawgit.com/schmich/instascan-builds/master/instascan.min.js')
    body
        #app
            .sidebar
                section.cameras
                    h2 Cameras
                    ul
                        li.empty(v-if='cameras.length === 0') No cameras found
                        li(v-for='camera in cameras')
                            span.active(v-if='camera.id == activeCameraId', :title='formatName(camera.name)') {{ formatName(camera.name) }}
                            span(v-if='camera.id != activeCameraId', :title='formatName(camera.name)')
                                a(@click.stop='selectCamera(camera)') {{ formatName(camera.name) }}
                section.scans
                    h2 Scans
                    ul(v-if='scans.length === 0')
                        li.empty No scans yet
                    transition-group(name='scans', tag='ul')
                        li(v-for='scan in scans', :key='scan.date', :title='scan.content') {{ scan.content }}
            .preview-container
                video#preview
        script(type='text/javascript', src='adminjs/scan.js')

//doctype html
//html
//    head
//        title getUserMedia示例
//        style.
//            video {
//                object-fit: cover;
//            }
//            @media (min-width: 1000px) {
//                video {
//                    height: 480px;
//                }
//            }
//    body
//        | 請掃描你的QRCODE
//        br
//        |
//        hr
//        video(autoplay='', playsinline='')
//        script.
//            'use strict';
//            var constraints = {
//                video: true
//            };
//            var video = document.querySelector('video');
//            function handleSuccess(stream) {
//                window.stream = stream; // only to make stream available to console
//                video.srcObject = stream;
//            }
//            function handleError(error) {
//                console.log('getUserMedia error: ', error);
//            }
//            navigator.mediaDevices.getUserMedia(constraints).
//            then(handleSuccess).catch(handleError);