include mixin/mixin
doctype html
html(leng="en")
    head
        include shared/header
        +importCss("datatable")
    body.nav-md
        .container.body.container-body
            .main_container
                include parts/navbar-left
                include parts/page-content/videocontent
        +import-script("videocontent","aws")
        include parts/model/main-dialog