.bg-dark {
    background-color: #000 !important;
    font-size: 18px;
    font-weight: bold;
    color: white;
    height: 60px !important;

}

.fglabel {
    min-width: 90px !important;
    min-height: 25px !important;
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor:pointer;
}
.lblrpt{
    font-weight: bolder;
    min-height: 30px;
    color: #494949;
}
.container {
    margin: 0 auto;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 40%;
    position: absolute;
    top: 0;
    width: 28px;
}
.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #8FD562;
    border-color: #8FD562;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1;
}
.btn.not-active{
    background-color: white;
}

.imgrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.star-rating {
    line-height:32px;
    font-size:1.25em;
}

.star-rating .fa-star{color: orange;}

.pointer {cursor: pointer;}

.editcb{
    background-color: #8FD562 !important;"
}

.container.sidebar{
    height: auto !important;
    min-height: 100% !important;
}
.editpanel{
    margin-left:10px;width:85%;display: inline-block;vertical-align: text-top;
}

.adjust-main-body{
    margin-top:0px !important;
    margin-left: 180px !important;
}

.ScrollToTop.show {
    opacity: 1;
    pointer-events: all;
}

.ScrollToTop {
    position: fixed !important;
    right: 10px;
    bottom: 10px;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    width: 50px;
    height: 50px;
    background-color: rgba(247,136,68,.6);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor:pointer;
}



/*.btn.tab-active {background-color: #f4782d;color: white}*/