@charset "UTF-8";
.ic-dash {
  display: inline-block; }
  .ic-dash:before {
    content: '-';
    padding: 0 5px; }

.scrollHide {
  overflow-y: hidden; }

.loading-bg {
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1051;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: center;
      justify-content: center; }
  .loading-bg .loading-body {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: inline-block;
    position: relative; }
  .loading-bg .loading-logo {
    border: 8px solid #003355;
    border-radius: 50%;
    border-top: 8px solid #E5E8E7;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .loading-bg .loading-txt {
    text-align: center;
    color: white;
    position: absolute;
    padding: 0 9px;
    top: 60px;
    left: 0;
    right: 0; }
    .loading-bg .loading-txt i {
      font-style: initial;
      display: inline-block;
      position: relative;
      font-size: 14px;
      letter-spacing: 3px; }
      .loading-bg .loading-txt i.txt-loading {
        animation-name: txt-loading;
        animation-duration: 2.09s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        transform: scale(0.5); }
        .loading-bg .loading-txt i.txt-loading:nth-child(3n+1) {
          animation-delay: .75s; }
        .loading-bg .loading-txt i.txt-loading:nth-child(3n+2) {
          animation-delay: .9s; }
        .loading-bg .loading-txt i.txt-loading:nth-child(3n+3) {
          animation-delay: 1.05s; }
      .loading-bg .loading-txt i.txt-uploading {
        animation-name: txt-uploading;
        animation-duration: 2.09s;
        animation-iteration-count: infinite;
        animation-direction: normal; }
        .loading-bg .loading-txt i.txt-uploading:nth-child(7n+1) {
          animation-delay: .75s; }
        .loading-bg .loading-txt i.txt-uploading:nth-child(7n+2) {
          animation-delay: .9s; }
        .loading-bg .loading-txt i.txt-uploading:nth-child(7n+3) {
          animation-delay: 1.05s; }
        .loading-bg .loading-txt i.txt-uploading:nth-child(7n+4) {
          animation-delay: 1.2s; }
        .loading-bg .loading-txt i.txt-uploading:nth-child(7n+5) {
          animation-delay: 1.35s; }
        .loading-bg .loading-txt i.txt-uploading:nth-child(7n+6) {
          animation-delay: 1.5s; }
        .loading-bg .loading-txt i.txt-uploading:nth-child(7n+7) {
          animation-delay: 1.65s; }

.login-btn-block {
  text-align: right;
  margin-top: 15px; }
  .login-btn-block .btn-login {
    color: rgba(0, 51, 85, 0.8);
    background-color: #E5E8E7; }
    .login-btn-block .btn-login:hover, .login-btn-block .btn-login:focus {
      color: #003355; }

.btn-search {
  border-radius: 15px;
  margin: 0;
  padding: 2px 10px; }

.btn.btn-edit {
  background: #005099;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 2px 10px; }
  .btn.btn-edit:hover, .btn.btn-edit:focus {
    color: #ffffff; }

.btn-import, .btn-export {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 4px 15px; }
  .btn-import:hover, .btn-import:focus, .btn-export:hover, .btn-export:focus {
    color: #ffffff; }

.btn-import {
  background: #F23934; }

.btn-export {
  background: #114EC0; }

.switch-block {
  background: #E1E1E1; }
  .switch-block, .switch-block .btn-switch {
    display: inline-block;
    border-radius: 15px; }
  .switch-block .btn-switch {
    width: 63px;
    padding: 6px;
    color: #1B2326;
    cursor: pointer;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; }
    .switch-block .btn-switch.selected {
      color: #ffffff;
      background: #005099; }

input {
  border: 1px solid #E1E1E1; }
  input[type="text"]:disabled {
    cursor: not-allowed; }

.login-input-block .login-input {
  width: 100%; }
.login-input-block + .login-input-block {
  margin-top: 15px; }

.input-search {
  width: 200px;
  padding: 1px 25px 1px 10px;
  margin-right: 10px; }

.search-ic-block {
  position: relative; }
  .search-ic-block .input-search {
    border-radius: 15px;
    margin: 0;
    border: 1px solid #E1E1E1;
    padding: 2px 25px 2px 10px; }
  .search-ic-block .fa-search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px 6px 3px;
    cursor: pointer; }

.input-date-block {
  display: inline-block; }
  .input-date-block + .input-date-block:before {
    content: '-';
    margin: 0 10px; }

.input-date {
  width: 125px;
  padding: 1px 25px 1px 10px; }

.remark-input-block {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 500px; }
  .remark-input-block i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px 6px 3px;
    cursor: pointer; }

.input-remark {
  width: 100%;
  padding: 2px 25px 2px 10px; }

input.form-control.max-width {
  max-width: 200px; }

label.select-check {
  margin: 0;
  display: inline-block;
  background-color: #E8EAEC;
  vertical-align: sub;
  padding: 9px;
  position: relative;
  border-radius: 3px;
  cursor: pointer; }

input[type=checkbox]:checked ~ label.select-check {
  background-color: #54CD86; }
  input[type=checkbox]:checked ~ label.select-check:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
    content: '\f00c';
    color: white;
    padding: 2.5px; }

select {
  border: 1px solid #E1E1E1; }
  select.select-type {
    width: 125px;
    height: 25px; }
  select.select-mini {
    display: inline-block;
    width: 125px;
    margin: 0 10px 10px 0; }
  select:disabled {
    background: #ebebe4;
    cursor: not-allowed; }

.radio-btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: text-top;
  -ms-flex-pack: center;
      justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #E1E1E1;
  border-radius: 50%; }

.radio-state-open, .radio-state-close, .radio-btn {
  cursor: pointer; }

.radio-state-open:after {
  content: '開啟'; }

.radio-state-close:after {
  content: '關閉'; }

input[type=radio]:checked ~ label .radio-btn:before {
  display: inline-block;
  content: '';
  background: #969696;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.dialog-main {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }
  .dialog-main .modal-dialog {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 379px;
    min-width: 379px;
    margin: auto; }
  .dialog-main .modal-content {
    padding: 25px 20px 15px;
    border-radius: 0; }
  .dialog-main .dialog-header {
    text-align: center;
    border: 0; }
    .dialog-main .dialog-header .modal-title {
      font-size: 16px;
      color: black;
      font-weight: 400; }
  .dialog-main .dialog-body {
    text-align: center;
    font-size: 14px;
    color: black;
    padding: 26px 15px; }
    .dialog-main .dialog-body.bottom-noPadding {
      padding-bottom: 0; }
    .dialog-main .dialog-body p:last-child {
      margin-bottom: 0; }
  .dialog-main .dialog-footer {
    text-align: center;
    border: 0; }

#sCropper-dialog .modal-dialog {
  width: 700px;
  min-width: 700px; }
  #sCropper-dialog .modal-dialog[role="course"] {
    width: 700px;
    min-width: 700px; }
  #sCropper-dialog .modal-dialog[role="user"] {
    width: 500px;
    min-width: 500px; }
#sCropper-dialog .twice-btn button.btn-dialog {
  max-width: 150px; }

.dataTables_paginate a {
  background: #E1E1E1 !important;
  border-color: #E1E1E1 !important; }

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #969696; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  color: #F2AA2D; }
.pagination > li > a, .pagination > li > span {
  color: #003355; }
  .pagination > li > a:focus, .pagination > li > span:focus {
    color: #003355; }
  .pagination > li > a:hover, .pagination > li > span:hover {
    color: #F2AA2D; }

#dbSort {
  max-width: 500px !important; }

.m-table {
  border: 1px solid #ccc; }
  .m-table thead > tr > th {
    line-height: 30px;
    background: #003355;
    color: white;
    font-weight: initial;
    text-align: center; }
  .m-table tbody > tr > td {
    text-align: center;
    vertical-align: middle; }
  .m-table thead .sorting_desc:after {
    visibility: hidden; }

.tb-content.overflow {
  overflow: auto; }

.btn-excel {
  display: none; }

.dbExport .dt-buttons {
  display: none; }

html, body, .container-body {
  width: 100%;
  height: 100%;
  min-width: 320px; }

textarea {
  resize: none; }

body.nav-md, body.nav-sm {
  background: #003355; }
  body.nav-md .left_col, body.nav-sm .left_col {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; }
  body.nav-md .nav_title, body.nav-md .left_col, body.nav-md .nav.side-menu > li.active > a, body.nav-sm .nav_title, body.nav-sm .left_col, body.nav-sm .nav.side-menu > li.active > a {
    background: #003355; }
  body.nav-md .nav.side-menu > li.active, body.nav-md .nav.side-menu > li.current-page, body.nav-md .nav.side-menu li.active-sm, body.nav-sm .nav.side-menu > li.active, body.nav-sm .nav.side-menu > li.current-page, body.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #54CD86; }
  body.nav-md ul.nav.child_menu li:before, body.nav-sm ul.nav.child_menu li:before {
    background: #E8EAEC; }
  body.nav-md ul.nav.child_menu li:after, body.nav-sm ul.nav.child_menu li:after {
    border-left: 1px solid #E8EAEC; }
  body.nav-md .site_title, body.nav-sm .site_title {
    padding-left: 0; }

body .container.body .right_col {
  background: #F7F7FC; }

.nav-sm ul.nav.child_menu {
  background: #003355; }

.navbar-logo {
  background-size: 90%;
  padding: 30px; }

.nav-sm .navbar-logo {
  width: 185px;
  background-size: 100%; }

.container-body.login-bg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: linear-gradient(-90deg, #003355, gray);
  /*background: #003355; */
}

.container-body.error-bg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background: #003355; }

.login-block, .error-block {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 90%;
  margin: 0 5%; }
  .login-block .login-log, .login-block .error-logo, .error-block .login-log, .error-block .error-logo {
    display: inline-block;
    width: 256px;
    height: 256px; }
  .login-block .login-title, .error-block .login-title {
    margin-bottom: 30px;
    color: white; }

.error-block h3, .error-block h4 {
  color: white; }

.main-body .page-title {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none; }
  .main-body .page-title .row-first, .main-body .page-title .row-second {
    float: left;
    width: 100%; }
  .main-body .page-title .row-second {
    text-align: right;
    padding: 0 15px; }
    .main-body .page-title .row-second hr {
      margin: 0; }
.main-body .row {
  margin-top: 15px; }

.status-select-block, .input-status-block, .search-ic-block, .type-select-block, .search-block, .add-sort-block, .delete-block, .save-block {
  display: inline-block;
  vertical-align: middle;
  margin: 6px 10px; }
  .status-select-block label, .input-status-block label, .search-ic-block label, .type-select-block label, .search-block label, .add-sort-block label, .delete-block label, .save-block label {
    margin: 0;
    line-height: 27px; }
  .status-select-block:empty, .input-status-block:empty, .search-ic-block:empty, .type-select-block:empty, .search-block:empty, .add-sort-block:empty, .delete-block:empty, .save-block:empty {
    height: 39px; }

.delete-block, .save-block {
  color: rgba(84, 82, 86, 0.8); }
  .delete-block, .delete-block i, .delete-block label, .save-block, .save-block i, .save-block label {
    vertical-align: middle;
    cursor: pointer; }
  .delete-block i, .save-block i {
    margin-right: 5px;
    font-size: 15px; }
  .delete-block label, .save-block label {
    font-weight: initial; }
  .delete-block:hover, .delete-block:focus, .save-block:hover, .save-block:focus {
    color: #545256; }

.status-select-block > label:after, .type-select-block > label:after {
  content: ':';
  padding: 0 5px; }

.status-select-block {
  margin-left: 0; }

.search-block {
  margin-right: 0; }

.remark-block {
  text-align: left; }

.form-group .form-title {
  width: 100px;
  vertical-align: middle; }
.form-group .form-content {
  display: inline-block;
  width: 100%; }
  .form-group .form-content.auto-fill {
    width: 100%;
    max-width: none; }
.form-group .form-btn-group {
  text-align: right;
  margin-top: 30px; }
  .form-group .form-btn-group button + button {
    margin-left: 9px; }
.form-group + .form-group {
  margin-top: 50px; }

.form-content select.select-mini {
  width: 48.5%; }
  .form-content select.select-mini:first-child {
    margin-right: 3%; }
  .form-content select.select-mini:nth-child(2) {
    margin-right: 0; }

#costTotal {
  text-align: center;
  font-weight: bold; }
  #costTotal:before {
    content: '總消費次數 (';
    padding-right: 5px; }
  #costTotal:after {
    content: ')';
    padding-left: 5px; }

.btns-footer {
  text-align: right; }
  .btns-footer button + button {
    margin-left: 10px; }

@media (min-width: 480px) {
  .login-block {
    width: 350px; } }
@media (min-width: 768px) {
  .form-group .form-content {
    width: 50%;
    min-width: 400px;
    max-width: 400px; } }
@media (min-width: 992px) {
  .main_container .top_nav {
    display: none; } }
@media (min-width: 1200px) {
  .form-group .form-btn-group {
    text-align: left; } }
