.right_col.main-body.adjust-main-body(role="main")
    .page-title
        .row-first.col-md-12.form-group.form-inline(style="position: relative;")
            h3.title-page(style="color:#2A3F54;font-weight:bold;display: inline-block;").float-left 書本管理
            h5#h5Cnt.title-page(style="color:#2A3F54;display: inline-block;margin-left: 20px;").float-left 資料筆數

            //button#btnAdd.btn.btn-primary.btn-sm.float-right(style="width:100px;margin-left:10px;margin-top: 10px;font-weight:bold; display: inline-block;" onclick="window.location.href='membercontent'") 新增
            button#btnAdd.btn.btn-success.btn-ms(style="margin-top: 10px;width:100px;font-weight:bold;float:right") 新增
            //button#btnSearch.btn.btn-primary.btn-ms(style="margin-top: 10px;width:100px;font-weight:bold;float:right") 查詢

    .clearfix
        #1a.tab-pane
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        //.x_title
                        .x_content
                            .tb-content
                                table#dbBook.m-table.table.table-hover.table-click.nowrap(width="100%")
                                    thead
                                        tr
                                            th 建立日期
                                            th 書名
                                            th 書本代碼
                                            th 簡介
                                            th 編輯
                                            th 匯出
                                            //th 繳費狀態
                                            //th 繳費日
                                            //th 到期日
                                    tbody
#addModal.modal.fade(style="margin-top:150px;text-align:center")
    div(class="modal-dialog")
        div(class="modal-content" style="width:500px")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            h4#h4Modal(class="modal-title" style="margin-top:50px;font-weight:bold") 新增書本
            div(class="modal-header")
                div.modal-body
                    .x_content
                        .tb-content.overflow
                            label(style="margin-left:10px") 書名
                            input#txtName(style="height:30px;margin-left: 20px;width:40%;")
                    .x_content
                        .tb-content.overflow
                            label(style="margin-left:10px") 代碼
                            input#txtCode(maxlength='10' style="height:30px;margin-left: 20px;width:40%;")
                    .x_content
                        .tb-content.overflow
                            label(style="margin-left:10px") 簡介
                            input#txtBrief(style="height:30px;margin-left: 20px;width:40%;")
                    .x_content
                        .tb-content.overflow
                    .x_content
                    button#btnSave(type="button" class="btn btn-primary" ) 儲存
                    .x_content
                    button(type="button" class="btn btn-gray" data-dismiss="modal") 取消
                    .x_content
                    button#btnDelete(type="button" class="btn btn-danger" data-dismiss="modal") 刪除


