.right_col.main-body.adjust-main-body(role="main")
    .page-title
        .row-first(style="position: relative;")
            h3.title-page(style="color:#2A3F54;font-weight:bold;display: inline-block;").float-left 名單管理
            h5#h5Cnt.title-page(style="color:#2A3F54;display: inline-block;margin-left: 20px;").float-left 會員人數
            //.search-ic-block(style="position: absolute;right: 16%;margin-top: 10px;font-weight:bold")
            //    input#searchInput.input-search(type="text" placeholder="查詢電話號碼及會員備註")
            //    i.fa.fa-search#searchBtn
            button#btnAdd.btn.btn-primary.btn-sm(style="position: absolute;width:100px;right: 16%;margin-top: 10px;font-weight:bold;") 參數設定
            button#btnDelete.btn.btn-warning.btn-sm.float-right(style="position: absolute;width:100px;right: 8%;margin-top: 10px;font-weight:bold") 刪除
            button#exportExcel.btn.btn-success.btn-sm.float-right(style="position: absolute;width:100px;right: 0;margin-top: 10px;font-weight:bold") 匯出Excel
    ul.nav.nav-pills
        li#t1
            a(href='#1a', data-toggle='tab') 名單管理
        li.active#t2
            a(href='#2a', data-toggle='tab') 暫時黑名單
    .clearfix
        #1a.tab-pane(style='display:none')
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        //.x_title
                        .x_content
                            .tb-content
                                table#dbMemberA.m-table.table.table-hover.table-click.nowrap(width="100%")
                                    thead
                                        tr
                                            th
                                                div
                                                    label#lblSelectalla.btn.btn-xs.btn-success.not-active.cb(style='margin-left:10px;transform: scale(0.9);')
                                                        span.glyphicon.glyphicon-ok
                                            th 電話
                                            th 狀態
                                            th 消費次數
                                            th 評分
                                            th 黑名單
                                            th 備註
                                            th 編輯
                                    tbody
        #2a.tab-pane.active
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        //.x_title
                        .x_content
                            .tb-content
                                table#dbMemberB.m-table.table.table-hover.table-click.nowrap(width="100%")
                                    thead
                                        tr
                                            th
                                                div
                                                    label#lblSelectallb.btn.btn-xs.btn-success.not-active.cb(style='margin-left:10px;transform: scale(0.9);')
                                                        span.glyphicon.glyphicon-ok
                                            th 電話
                                            th 消費次數
                                            th 評分
                                            th 黑名單
                                            th 備註
                                            th 編輯
                                    tbody

#settingModal.modal.fade(style="margin-top:150px;text-align:center")
    div(class="modal-dialog")
        div(class="modal-content" style="width:400px")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            h4(class="modal-title" style="margin-top:50px;font-weight:bold") 參數設定
            div(class="modal-header")
                div.modal-body
                    .x_content
                        h4 請設定暫時黑名單設置標準
                    .x_content
                        input#txtSetting(style="width:50px;text-align: center;")
                        span(style="margin-left:5px") 以下為暫時黑名單
                    .x_content
                    button#btnPush(type="button" class="btn btn-primary" ) 儲存
