.right_col.main-body.adjust-main-body(role="main")
    .page-title
        .row-first(style="position: relative;")
            h3.title-page(style="color:#2A3F54;font-weight:bold; display: inline-block;").float-left 變更密碼
    .clearfix
    .row
        .col-md-12.col-sm-12.col-xs-12
            .x_panel(style="width:500px")
                //.x_title
                .x_content
                    .tb-content.overflow
                        label(style="margin-left:100px") 新密碼
                        input#txtPwd(style="height:30px;margin-left: 34px" type="password" placeholder="輸入新密碼")
                .x_content
                    .tb-content.overflow
                        label(style="margin-left:100px") 確認密碼
                        input#txtCfmPwd(style="height:30px;margin-left: 20px" type="password" placeholder="再輸入一次密碼")
                .x_content
                    .tb-content
                        button.btn.btn-primary(style="margin-left: 180px; margin-top: 30px; width:100px")#btnCfm 儲存變更


