link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
.right_col.main-body.adjust-main-body.Scroll(role="main")
    input#fUpload(type="file" style="display:none" accept="video/*,image/*,audio/*" multiple)
    input#sUpload(type="file" style="display:none" accept="video/*,image/*,audio/*" )
    #myBtn.ScrollToTop.show
        i.fas.fa-arrow-up
    //input#fUpload(type="file" style="display:none")
    .page-title
        .row-first
            div(style="display: inline-block;background:white;width:90%").float-left
                h4(style='color:#5bc0de;display: inline-block;margin-left:15px')
                    a(style='color:#5bc0de;text-decoration:underline;' href="javascript:history.back()") 返回
                h4(style='color:#5bc0de;display: inline-block;margin-left:15px') /&nbsp;
                h4#h5Name.title-page(style="color:black;display: inline-block;")
    #rwEdit.row(style="color:black;margin-top:0px;width:91.5%")
        .col-md-12.col-sm-12.col-xs-12
            #pnlLeft.x_panel
                .x_content
                    .tb-content.overflow
                        label(style="margin-left:10px").control-label 書名
                        label(style="margin-left:35px;width:14%").control-label
                            select#sltBook.form-control
                                option(value="1") 英語一
                                option(value="2") 英語二
                                option(value="3") 英語三
                                option(value="4") 英語四
                                option(value="5") 英語五
                                option(value="6") 英語六
                //.x_content
                //    button#btnUpload.btn.btn-primary(style='width:10%;font-weight:bold;margin-left:10px') 上傳

                //.x_content
                //    .tb-content.overflow
                //        label(style="margin-left:10px") 頁碼
                //        input#txtPagenum(style="height:45px;margin-left: 20px;width:20%;")
                //.x_content
                //    .tb-content.overflow
                //        label(style="margin-left:10px") 位置
                //        input#txtPos(style="height:45px;margin-left: 20px;width:20%;")
                //.x_content
                //    .tb-content.overflow
                //        label(style="margin-left:10px") 簡述
                //        input#txtBrief(style="height:45px;margin-left: 20px;width:20%;")

    .row(style='color:black;width:92%;margin-top:0px')
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_content
                    .tb-content.overflow
                        label(style="margin-left:10px").control-label 排序方式
                        label(style="margin-left:10px;width:14%").control-label
                            select#sltOrder.form-control(style='display: inline-block;')
                                option(value="pagenum") 頁碼
                                option(value="filename") 檔名
                        button#btnOrder.btn.btn-primary.btn-ms(style='display: inline-block;margin-left:10px;') 排序

                .x_content.w3-main.w3-content.w3-padding
                    .tb-content.overflow(style='display: inline-block;')
                        label(style="margin-left:10px").control-label 點擊 
                        img(src='imgs/ic_delete.png' style='transform: scale(0.8);')
                        label.control-label 可刪除影音檔

                    #divPimg.imgrow.w3-row-padding.w3-padding-16.w3-center
                    //.pimg(style='position: relative;margin-right:28px;margin-bottom:28px')
                    //    div
                    //        img(src='https://www.gravatar.com/avatar/17f5502f74c9d40b40cc238c9d0ca171?s=23&d=identicon&r=PG', onerror="this.src = 'imgs/NoImage.png';", style='width:170px;height:180px')
                    //    img.pointer.trash(src='imgs/ic_delete.png', style='position: absolute; bottom: 114px; right: 25px')
                    //    .tb-content.overflow
                    //        label 頁碼
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 位置
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 簡述
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 適用
                    //        select(style='width:144px')
                    //            option(value="1") 老師
                    //            option(value="2") 家長
                    //.pimg(style='position: relative;margin-right:28px;margin-bottom:28px')
                    //    div
                    //        img(src='https://www.gravatar.com/avatar/17f5502f74c9d40b40cc238c9d0ca171?s=23&d=identicon&r=PG', onerror="this.src = 'imgs/NoImage.png';", style='width:170px;height:180px')
                    //    img.pointer.trash(src='imgs/ic_delete.png', style='position: absolute; bottom: 114px; right: 25px')
                    //    .tb-content.overflow
                    //        label 頁碼
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 位置
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 簡述
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 適用
                    //        select(style='width:144px')
                    //            option(value="1") 老師
                    //            option(value="2") 家長
                    //.pimg(style='position: relative;margin-right:28px;margin-bottom:28px')
                    //    div
                    //        img(src='https://www.gravatar.com/avatar/17f5502f74c9d40b40cc238c9d0ca171?s=23&d=identicon&r=PG', onerror="this.src = 'imgs/NoImage.png';", style='width:170px;height:180px')
                    //    img.pointer.trash(src='imgs/ic_delete.png', style='position: absolute; bottom: 114px; right: 25px')
                    //    .tb-content.overflow
                    //        label 頁碼
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 位置
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 簡述
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 適用
                    //        select(style='width:144px')
                    //            option(value="1") 老師
                    //            option(value="2") 家長
                    //.pimg(style='position: relative;margin-right:28px;margin-bottom:28px')
                    //    div
                    //        img(src='https://www.gravatar.com/avatar/17f5502f74c9d40b40cc238c9d0ca171?s=23&d=identicon&r=PG', onerror="this.src = 'imgs/NoImage.png';", style='width:170px;height:180px')
                    //    img.pointer.trash(src='imgs/ic_delete.png', style='position: absolute; bottom: 114px; right: 25px')
                    //    .tb-content.overflow
                    //        label 頁碼
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 位置
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 簡述
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 適用
                    //        select(style='width:144px')
                    //            option(value="1") 老師
                    //            option(value="2") 家長
                    //.pimg(style='position: relative;margin-right:28px;margin-bottom:28px')
                    //    div
                    //        img(src='https://www.gravatar.com/avatar/17f5502f74c9d40b40cc238c9d0ca171?s=23&d=identicon&r=PG', onerror="this.src = 'imgs/NoImage.png';", style='width:170px;height:180px')
                    //    img.pointer.trash(src='imgs/ic_delete.png', style='position: absolute; bottom: 114px; right: 25px')
                    //    .tb-content.overflow
                    //        label 頁碼
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 位置
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 簡述
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 適用
                    //        select(style='width:144px')
                    //            option(value="1") 老師
                    //            option(value="2") 家長
                    //.pimg(style='position: relative;margin-right:28px;margin-bottom:28px')
                    //    div
                    //        img(src='https://www.gravatar.com/avatar/17f5502f74c9d40b40cc238c9d0ca171?s=23&d=identicon&r=PG', onerror="this.src = 'imgs/NoImage.png';", style='width:170px;height:180px')
                    //    img.pointer.trash(src='imgs/ic_delete.png', style='position: absolute; bottom: 114px; right: 25px')
                    //    .tb-content.overflow
                    //        label 頁碼
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 位置
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 簡述
                    //        input(style='width:144px')
                    //    .tb-content.overflow
                    //        label 適用
                    //        select(style='width:144px')
                    //            option(value="1") 老師
                    //            option(value="2") 家長
                    //#pUpload.pointer.text-center(onclick='triggerUpload(0)', style='position: relative;margin-right:28px;margin-bottom:28px;background:lightgray;width:170px;height:180px')
                    //    img.img-responsive(src='imgs/ic_update.png', style='width:40px;margin: 0 auto;margin-top:30px;margin-bottom:10px')
                    //    label 新增影音檔


                .x_content
                    |
                .x_content
                    |
                .x_content
                    //button#btnAdd.btn.btn-warning(style='width:10%;font-weight:bold;margin-left:10px') 新增
                    button#btnSave.btn.btn-warning(style='width:10%;font-weight:bold;margin-left:10px') 存檔




