.right_col.main-body.adjust-main-body(role="main")
    .page-title
        .row-first.col-md-12.form-group.form-inline(style="position: relative;")
            h3.title-page(style="color:#2A3F54;font-weight:bold;display: inline-block;").float-left 影音檔管理
            //h5#h5Cnt.title-page(style="color:#2A3F54;display: inline-block;margin-left: 20px;").float-left 資料筆數
            //label(style="position: absolute;right: 53%;margin-top: 15px;") 建立日期
            //#searchDateS.input-group.date(style="height:30px;position: absolute;left:670px;margin-top: 10px;width:150px;" )
            //    input.form-control(type='text')
            //    span.input-group-addon
            //        span.glyphicon.glyphicon-calendar
            ////input#txtSdate(style="height:30px;margin-left: 10px;width:10%;" maxlength=20 )
            //label(style="position: absolute;left:825px;margin-top: 15px;") 到
            //#searchDateE.input-group.date(style="height:30px;position: absolute;left:850px;margin-top: 10px;width:150px;" )
            //    input.form-control(type='text')
            //    span.input-group-addon
            //        span.glyphicon.glyphicon-calendar
            //.search-ic-block.float-right(style="position: absolute;width:100px;right: 20%;margin-top: 10px;font-weight:bold")
            //    input#searchInput.input-search(type="text" placeholder="輸入關鍵字")


            //button#btnAdd.btn.btn-primary.btn-sm.float-right(style="width:100px;margin-left:10px;margin-top: 10px;font-weight:bold; display: inline-block;" onclick="window.location.href='membercontent'") 新增
            //button#btnExport.btn.btn-warning.btn-ms(style="margin-top: 10px;width:100px;font-weight:bold;margin-right:20px;float:right") 匯出
            button#btnAdd.btn.btn-success.btn-ms(style="margin-top: 10px;width:100px;font-weight:bold;margin-right:20px;float:right") 新增
            button#btnSearch.btn.btn-primary.btn-ms(style="margin-top: 10px;width:100px;font-weight:bold;margin-right:20px;float:right") 查詢
            select#searchType.select-type(style="margin-top: 10px;height:35px;margin-right:20px;width:150px;font-weight:bold;float:right")
                option(selected disabled) 選擇書本
                option(value="") 全部
                option(value="1") 英語一
                option(value="2") 英語二
                option(value="3") 英語三
                option(value="4") 英語四
                option(value="5") 英語五
                option(value="6") 英語六

    //ul.nav.nav-pills
    //    li.active#t1
    //        a(href='#1a', data-toggle='tab') 書本列表
    //    li#t2
    //        a(href='#2a', data-toggle='tab') 影音檔列表
    .clearfix
        #1a.tab-pane
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        //.x_title
                        .x_content
                            .tb-content
                                table#dbVideo.m-table.table.table-hover.table-click.nowrap(width="100%")
                                    thead
                                        tr
                                            th 建立日期
                                            th 書名
                                            th 頁碼
                                            th 檔名
                                            th 適用對象
                                            th 簡述
                                    tbody
//#addModal.modal.fade(style="margin-top:150px;text-align:center")
//    div(class="modal-dialog")
//        div(class="modal-content" style="width:500px")
//            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
//            h4#h4Modal(class="modal-title" style="margin-top:50px;font-weight:bold") 新增書本
//            div(class="modal-header")
//                div.modal-body
//                    .x_content
//                        .tb-content.overflow
//                            label(style="margin-left:10px") 書名
//                            input#txtName(style="height:30px;margin-left: 20px;width:40%;")
//                    .x_content
//                        .tb-content.overflow
//                            label(style="margin-left:10px") 簡介
//                            input#txtBrief(style="height:30px;margin-left: 20px;width:40%;")
//                    .x_content
//                        .tb-content.overflow
//                    .x_content
//                    button#btnSave(type="button" class="btn btn-primary" ) 儲存
//                    .x_content
//                    button(type="button" class="btn btn-gray" data-dismiss="modal") 取消
//                    .x_content
//                    button#btnDelete(type="button" class="btn btn-danger" data-dismiss="modal") 刪除


