.navbar-left.col-md-3.left_col(style="left:0;position: fixed;top: 0px;overflow: hidden;")
    .left_col.scroll-view
        //include menu/menu-title
        .clearfix
        br
        include menu/menu-list